*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

body{
    background-color:black;

}

.cards{
    margin-top: 20px;
    border: 1px solid gray;
    background-color: rgb(247, 231, 13);
}